html.lock {overflow: hidden;}

.link_btn {display: inline-block; font-size: 1.25em; font-weight: 500; background:#fff; padding:12px 45px; position:relative;}
.link_btn em {font-style: normal; color:#000; position:relative; transition:all 0.45s cubic-bezier(0.645,0.045,0.355,1); z-index: 2;}
.link_btn::after {content:""; display: block; width:100%; height:100%; background:#6823d6; position:absolute; top:0; left:0; transform:scale(0,1); transition:all 0.45s cubic-bezier(0.645,0.045,0.355,1);}
.link_btn:hover em {color:#fff;}
.link_btn:hover::after {transform:scale(1,1)}
.title_txt {display: block; font-size: 4em; font-weight: 900; color:#fff; margin-bottom:30px; text-shadow: 0px 0px 20px rgb(0 0 0 / 50%); word-break: keep-all;}
.cont_p {font-size: 1.4375em; font-weight: 300; line-height: 1.15; color:#fff; word-break: keep-all;}

.swiper-fade .swiper-slide {opacity: 0 !important;}
.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {opacity: 1 !important;}

#header {width: 100%; position:fixed; top:0; left:0; padding:50px 0; transition:background 0.25s ease-out, top 0.5s ease-in-out; z-index: 9999;}
#header .popup{position: fixed; top: 30%; left: 50%; width: 30rem; height: 10rem; background: rgba(255,255,255,.5); border-radius: 1.25rem; }
#header .popup p{line-height: 250%; position: relative; padding-top: 2.5rem; text-align: center;}
#header .popup .close_btn{position: absolute; top: 1rem; right: 1rem; cursor: pointer;}
#header .con {max-width:1690px; display: flex; justify-content: space-between; align-items: center; margin:0 auto;}
#header .hlogo {font-size: 34px; color:#fff;}
#header .gnb {display: flex; color:#fff;}
#header .gnb>  li {font-size: 1.25em; padding:0 25px; position:relative;}
#header .gnb li a {position:relative;}
#header .gnb > li::after {content:""; display: block; width: 100%; height: 7px; margin-top:6px; position:absolute; left:0; background:#6823d6; transform:scale(0,1); transition: transform 0.45s cubic-bezier(0.645,0.045,0.355,1);}
#header .gnb > li:hover::after {transform:scale(1,1)}
#header .gnb li ul {width: 150%; position: absolute; left: -25%; margin-top: 6px; font-size: 0.8em; text-align: center; border-top: 7px solid #6823d6; background: rgba(255,255,255,1); color: #000; transform:scale(0,1); transition:transform 0.45s cubic-bezier(0.645,0.045,0.355,1);}
#header .gnb li:nth-child(3) ul {width: 125%; left:-12.5%;}
#header .gnb li ul li a {display: block; padding:8px 0; transition:all 0.45s}
#header .gnb li ul li a em {font-style: normal; position:relative; z-index: 2;}
#header .gnb li ul li a::after {content:""; display: block; width:100%; height:100%; background:#6823d6; position:absolute; top:0; left:0; transform:scale(1,0); transition:all 0.3s cubic-bezier(0.645,0.045,0.355,1);}
#header .gnb li:hover ul {transform: scale(1,1);}
#header .gnb li ul li a:hover {border-color:#6823d6; color:#fff;}
#header .gnb li ul li a:hover::after {transform:scale(1,1)}


#header .guide-list { display:none; position:absolute; background:#333; border-radius: 30px; border:1px solid #555; padding:17px 25px; z-index:99; top:100px; right:80px; text-align: center; }
#header .guide-list a {clear:both; border:none; padding:5px 0px; float:left; color:#ffffff; }
#header .guide-list a:hover {color:#A100FF; font-weight: bold;}



#header .con div {display: flex; align-items: center;}
#header .con div a {display: inline-block;}
#header .con div a:first-child {font-size: 1em; color:#fff; letter-spacing: -0.025em; border:1px solid #fff; border-radius: 20px; margin-right:15px; padding:10px 30px; position:relative; transition:all 0.45s cubic-bezier(0.645,0.045,0.355,1);}
#header .con div a:first-child em {font-style: normal; position:relative; z-index: 2;}
#header .con div a:first-child:hover {border-color:#6823d6}
#header .con div a:first-child::after {content:""; display: block; width:calc(100% + 2px); height:calc(100% + 2px); background:#6823d6; position:absolute; top:-1px; left:-1px; border-radius: 20px; transform:scale(0,1); transition:all 0.45s cubic-bezier(0.645,0.045,0.355,1);}
#header .con div a:first-child:hover::after {transform:scale(1,1)}

#header .m_btn {width: 40px; height: 40px; display: none; flex-direction: column; justify-content: space-evenly; align-items: center; position:relative; z-index: 9999;}
#header span {width: 70%; height: 3px; background:#fff; transition: all 0.3s; transform-origin: left;}
#header .m_btn.active {justify-content: space-around;}
#header .m_btn.active span:nth-child(1) {transform:rotate(45deg)}
#header .m_btn.active span:nth-child(2) {display: none;}
#header .m_btn.active span:nth-child(3) {transform:rotate(-45deg)}

#header .mobile-screen {width: 100%; height:100%; position:fixed; left:0; top:0; transform: scale(0); transition:all 0.35s;}
#header .mobile-screen .bg {width:10px; height:10px; background:#fff; border-radius: 100%; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%) scale(0); transition: transform 0.8s, border-radius 0.8s 0.3s, background 0.8s;}
#header .mobile-screen .mobile-inner {display: none; overflow: hidden;}
#header .mobile-screen .link-list {display: block; width: 100%;position:absolute; font-size: 2.5em; font-weight: 900; color:#fff; padding:100px 10% 0;}
#header .mobile-screen .link-list > li:not(:last-child){margin-bottom:30px;}
#header .mobile-screen .link-list a {display: inline-block; position:relative;}
#header .mobile-screen .link-list > li > a::after {content:""; display: block; width: 100%; height: 10px; position:absolute; background:#6823d6; transform:scale(0,1); transition: transform 0.45s cubic-bezier(0.645,0.045,0.355,1);}
#header .mobile-screen .link-list a i {font-size: 0.8em; font-weight: 700; margin-left:12px; transition:all 0.45s cubic-bezier(0.645,0.045,0.355,1);}
#header .mobile-screen .link-list li .m_more {width: 25px; height: 25px; position: absolute; top:50%; margin-left: 30px; transform:translateY(-50%);}
#header .mobile-screen .link-list li .m_more span {position:absolute;}
#header .mobile-screen .link-list li .m_more span:first-child {width: 100%; height: 3px; left: 0; top: 50%; transform: translateY(-60%);}
#header .mobile-screen .link-list li .m_more span:last-child {width: 3px; height: 100%; left: 50%; top: 0; transform: translateX(-60%);}
#header .mobile-screen .link-list li ul {display: none; margin-top:20px;}
#header .mobile-screen .link-list li ul li {font-size: 0.75em; color:rgba(255,255,255,0.8)}
#header .mobile-screen .link-list li ul li:not(:last-child) {margin-bottom:10px;}
#header .mobile-screen .link-list li ul li em {font-style: normal;}
#header .mobile-screen .scroll-container {width:5px; height:75%; max-height: 700px; background:#b7b7b7; position:absolute; top:50%; right:7.5%; transform: translateY(-50%); border-radius: 50px; }
#header .mobile-screen .scroll-container .circle {width:30px; height:30px; background:#6823d6; border-radius: 100%; position:absolute; top:0; left:-12px;}

#header .mobile-screen .link-list > li.active > a::after {transform:scale(1);}
#header .mobile-screen .link-list > li.active > a i {transform:rotate(180deg)}
#header .mobile-screen.active {transform:scale(1)}
#header .mobile-screen.active .bg {width: 100%; height: 100%; transform:translate(-50%,-50%); border-radius: 0; background:rgba(0,0,0,0.88);}


#header.on {background:#000;}

.section01 {background:#000;overflow: hidden;}
#main .section01 .con {max-width:1100px; margin:0 auto; padding:13.75vw 0; background:url("/img/section01_bg.jpg") center center no-repeat; background-size:cover;}
#main .section01 .txt_box {color:#fff; text-align: center; z-index: 2;}
#main .section01 .txt_box h2 {font-size: 7.25em; font-weight: 900; text-shadow: 0px 0px 5px rgb(0 0 0 / 50%);}
#main .section01 .txt_box span {display: block; font-size: 3.25em; font-weight: 800; color:#ff00d8; text-shadow: 0px 0px 10px rgb(0 0 0 / 50%);}
#main .section01 .txt_box span b {font-weight: 600; position:relative;}
#main .section01 .txt_box span b img {position:absolute; top:-200%; left:-140%; mix-blend-mode: screen; animation: lighten 3s infinite alternate ease-in-out; }
#main .section01 .txt_box p {font-size: 1.625em; font-weight: 500; margin:10px 0 35px; text-shadow: 0px 0px 10px rgb(0 0 0 / 100%);}
.main-vt {position:absolute; z-index: 99; left:50%; width:671px; height:518px; margin-left:-335px; top:250px;}
@keyframes lighten {
    0% {transform:scale(0.65)}
    100% {transform:scale(1)}
}


#main .section02 {background:#000; position:relative; padding:120px 0; overflow: hidden;}
#main .section02 .con {height: 40.9888em; position:relative; z-index: 2;}
#main .section02 .txt_box {width: 100%; font-size: 16.25em; font-weight: 800; line-height: 0.875; text-align: center; white-space: nowrap; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); text-shadow: 1px 1px 0px #35008b, -1px -1px 0px #35008b, 1px -1px 0px #35008b, -1px 1px 0px #35008b;}
#main .section02 .txt_box .wrap {position:relative; transition:all 2s ease-out}

#main .story .story_box {background:#000000; padding:150px 0; position:relative;}
#main .story .story_box.bayc_story {color:#ffffff; text-align: center; font-size:1.4375em}
#main .story .story_box.bayc_story .con {max-width: 1100px; margin:0 auto;}
#main .story .story_box.bayc_story .con p {word-break: keep-all;}
#main .story .story_box.bayc .con {max-width: 1350px; display: flex; flex-wrap: wrap; justify-content: space-between; margin:0 auto;}
#main .story .story_box.bayc .con .img_box {width: 48%; overflow: hidden;}
#main .story .story_box.bayc .con .img_box li {border-radius: 25px;}
#main .story .story_box.bayc .con .img_box img {max-width: 100%; border-radius: 22px;}
#main .story .story_box.bayc .con .img_box .gallery-controls button {color:#fff; transition:all 0.25s ease-out;}
#main .story .story_box.bayc .con .img_box .gallery-controls button:hover {transform:scale(1.3)}
#main .story .story_box.bayc .con .img_box .gallery-controls-previous::before,
#main .story .story_box.bayc .con .img_box .gallery-controls-next::before {display: none;}
#main .story .story_box.bayc .con .txt_box {width: 48%; text-align: left;}
#main .story .story_box.bayc .con .txt_box .title_box {display: flex; flex-wrap: wrap; align-items: baseline; text-align: center;}
#main .story .story_box .title_box {margin-bottom:60px;}
#main .story .story_box .title_box .title_txt {margin-bottom:0;}
#main .story .story_box .title_box p {font-size: 1.875em; color:#fff; text-shadow: 1px 2px 0px rgb(0 0 0 / 50%); margin:0 15px;}
#main .story .story_box .desc_box strong {display: block; font-size: 2.5em; color:#fff; margin-bottom:15px;}
#main .story .story_box .desc_box p {font-weight: 400; letter-spacing: -0.05em; line-height: 1.44;}
#main .story .story_box .desc_box p span {color:#ff00d8;}
#main .story .story_box.parall .con {width: 90%; max-width: 650px; margin:0 auto; position:static; text-align: center;}
#main .story .story_box.parall .img_box {width: 97%; display: flex; justify-content: space-between; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); overflow: visible !important;}
#main .story .story_box.parall .img_box img {max-width: calc((90% - 650px) / 2); border-radius: 44px; box-shadow: 0px 10px 10px rgb(0 0 0 / 70%); position:absolute; transform:translateY(-50%); transition: all 1s ease-out;}
#main .story .story_box.parall .img_box img:first-child {left:0 !important}
#main .story .story_box.parall .img_box img:last-child {left:unset !important; right:0 !important}
#main .story .bg_story {background:url("/img/section05_bg.jpg") top center no-repeat; background-size:cover;}
#main .story .story01 {background:url("/img/story01_bg.jpg") top center;}
#main .story .story_box.story02 {background:url("/img/section02.jpg") no-repeat center center; background-size: cover; overflow: hidden;}
#main .story .story_box.story02 .con {max-width: 1280px; margin:0 auto;}
#main .story .story_box.story02 .story02_thumb {overflow: hidden;}
#main .story .story_box.story02 .story02_thumb li {display: flex; justify-content: center; align-items: center; position:relative; opacity: 0.5; cursor: pointer;}
#main .story .story_box.story02 .story02_thumb li .img_box,
#main .story .story_box.story02 .story02_thumb li img {width: 100%;}
#main .story .story_box.story02 .story02_thumb li .txt_box {display: none; position:absolute;}
#main .story .story_box.story02 .story02_thumb li span {font-weight: 800;}
#main .story .story_box.story02 .story02_thumb .swiper-slide-thumb-active {opacity: 1; border:1px solid #fc00ff;}
#main .story .story_box.story02 .story02_thumb .swiper-slide-thumb-active .txt_box {display: block;}
#main .story .story_box.story02 .story02_thumb .swiper-slide-thumb-active img {filter:blur(2px)}
#main .story .story_box.story02 .story02_slide {margin-top:20px; overflow: hidden;}
#main .story .story_box.story02 .story02_slide .txt_box {background:#494949; margin-top:20px; padding:40px 40px 100px;}
#main .story .story_box.story02 img {max-width: 100%}
#main .story .story_box.story02 .bg_box {width: 100%; height: 100%; position:absolute; top:0; left:0; z-index: 1;}
#main .story .story_box.story02 .title_box strong {color:#ff00d8}
#main .story .story_box.story02 .title_box p {color:#ffffff;}
#main .story .story_box.story02 .desc_box {background:rgba(0,0,0,0.4); padding:40px;}
#main .story .story_box.story02 .pagination {margin-top:50px;}
#main .story .story_box.story02 .pagination button {font-size: 1.125em; color:#fff; transition:all 0.25s ease-out;}
#main .story .story_box.story02 .pagination button:first-child {margin-right:70px;}
#main .story .story_box.story02 .pagination button:hover {transform:scale(1.3)}
.mystery {background:url('/img/bg_mystery.gif') #000 no-repeat; background-size:100% 100%; padding:150px 0; position:relative; text-align: center;}
.mystery .con {max-width: 500px; margin:0 auto;}
.mystery .title_box {margin-bottom:60px;}
.mystery .title_box .title_txt {margin-bottom:0;}
.mystery .title_box p {font-size: 1.875em; color:#fff; text-shadow: 1px 2px 0px rgb(0 0 0 / 50%);}
.mystery .img_box {width: 97%; display: flex; justify-content: space-between; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); overflow: visible !important;}
.mystery .img_box img {max-width: calc((100% - 650px) / 2);}

.mystery .desc_box strong {display: block; font-size: 2.5em; color:#fff; margin-bottom:15px; padding-top:30px;}
.mystery .desc_box p {font-weight: 400; font-size: 1.435em;  letter-spacing: -0.05em; line-height: 1.44; color:#ffffff; padding-bottom:50px;}
.mystery .desc_box p span {color:#ff00d8;}
.mystery .mystery_01 {position:absolute; top:10%; left:50%; margin-left:-830px;}
.mystery .mystery_02 {position:absolute; top:10%; left:50%; margin-left:316px;}


#main .section03 {background:#0f0f0f; padding:75px 0;}
#main .section03 .title_box {width:90%; text-align: center; margin:0 auto;}
#main .section03 .title_txt {text-align: center;}
#main .section03 p {font-size: 1.875em; color:#fff; text-align: center; word-break: keep-all;}
#main .section03 a {margin-top:30px;}
#main .section03 .con {max-width: 2000px; margin:0 auto; overflow: hidden;}
#main .section03 .section03_slide {margin-top:70px; position:relative; overflow: hidden;}
/*#main .section03 li {cursor: grab;}*/
.swiper-free-mode>.swiper-wrapper {transition-timing-function:linear}
#main .section03 img {max-width: 100%;}
#main .section03_slide::after {content:""; display: block; width: 100%; height: 100%; position:absolute; top:0; left:0; z-index: 2;}

#main .section04 {background:url("/img/section04_bg.jpg") no-repeat center center; background-size:cover; padding:150px 0;}
#main .section04 .con {max-width: 1300px; display: flex; margin:0 auto;}
#main .section04 .txt_box {width: 50%;}

#main .section05 {background:url("/img/section05_bg.jpg") no-repeat center center; background-size:cover; padding:200px 0; overflow: hidden;}
#main .section05 .con {max-width: 2000px; margin:0 auto; position:relative;}
#main .section05 .con .txt_box {max-width: 650px; text-align: center; margin:0 auto; position:relative; z-index: 2;}
#main .section05 .con .txt_box a {margin-top:70px;}
#main .section05 .con .img_box {width: 97%; display: flex; justify-content: space-between; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); overflow: visible !important;}
#main .section05 .con .img_box img {max-width: calc((90% - 650px) / 2); border-radius: 44px; box-shadow: 0px 10px 10px rgb(0 0 0 / 70%); position:relative; transition: all 1s ease-out;}
#main .section05 .con .img_box img:first-child {left:0 !important}
#main .section05 .con .img_box img:last-child {left:unset !important; right:0 !important}


#main .section06 {background:url("/img/section06_bg.jpg") no-repeat center center; background-size:cover; overflow: hidden; padding:200px 0; position: relative;}
#main .section06 .con {margin-left:calc((100% - 1300px) / 2)}
#main .section06 .title_txt {color:#592dd8; text-shadow:0px -1px 0px rgb(255 255 255 / 50%);}
#main .section06 .section06_slide {/*overflow: hidden;*/ padding-right: 100px;}
#main .section06 .section06_slide > ul > li {display: flex; padding-bottom:50px; /*cursor: grab;*/}
#main .section06 .year {font-size: 3.125em; color:#fff; line-height: 1; /*margin-right:50px;*/}
#main .section06 .year dt {font-weight: 900;}
#main .section06 .year dd {font-weight: 300;}
#main .section06 b {font-weight: 600;}
#main .section06 .road_map_list {display: flex; flex-wrap: wrap;}
#main .section06 .road_map_list li {width: 100%; position:relative;}
#main .section06 .road_map_list li:not(:last-child) {margin-bottom:30px;}
#main .section06 .road_map_list li span {display: inline-block; width: 90px; font-size: 1.439em; text-align: right; float:left;}
#main .section06 .road_map_list li p {display:inline-block; float:right; width: 80%; word-break: keep-all;font-size:18px; color:#999;}
#main .section06 .road_map_list li h5 {display:inline-block; float:right; width: 80%; word-break: keep-all; font-size:23px; padding-bottom:20px;}
#main .section06 .road_map_list li .cover_roadmap {position:absolute; width:285px; height:126px;  z-index:999; background:url(/img/cover_complete.png) no-repeat; top:-30px; left:19%;}

#main .section06 .pagination {max-width: 915px; margin-left:170px; margin-top:60px;}
#main .section06 .pagination::after {content:""; display: block; width: 100%; height: 1px; background:rgba(255,255,255,0.2); position:absolute; margin-top:-12px;}
#main .section06 .pagination .swiper-pagination-bullet {width: 16px; height: 16px; background:#979797; opacity: 1; margin:0; position:relative; z-index: 2; transition:all 0.25s;}
#main .section06 .pagination .swiper-pagination-bullet:not(:last-child){margin-right:20%}
#main .section06 .pagination .swiper-pagination-bullet:hover,
#main .section06 .pagination .swiper-pagination-bullet-active {background:#592dd8;}

#main .section07 {background:#000; padding:70px 0;}
#main .section07 .con {max-width: 1420px; margin:0 auto;}
#main .section07 .con .title_txt {text-align: center;}
#main .section07 .con p {max-width: 670px; text-align: center; margin:0 auto;}
#main .section07 .member_list {display: flex; flex-wrap: wrap; justify-content: space-between; margin-top:100px;}
#main .section07 .member_list li {width: 18.5%; text-align: center;}
#main .section07 .member_list li .img_box {position:relative; margin-bottom:30px;}
#main .section07 .member_list li a {position:absolute; right:5%; bottom:0;}
#main .section07 .member_list li img {max-width: 100%;}
#main .section07 .member_list li strong {display: block; font-size: 1.875em; font-weight: 900; color:#fff;}

#main .section08 {background:url("/img/section08_bg.png") no-repeat center center #000; background-size:cover; overflow: hidden; padding:200px 0;}
#main .section08 .con {width: 90%; max-width: 1420px; margin:0 auto;}
#main .section08 strong,
#main .section08 p {max-width: 780px; margin:0 auto; text-align: center;}
#main .section08 .partner_list {display: flex; flex-wrap: wrap; justify-content: center; align-items: center;  margin-top:35px;}
#main .section08 .partner_list li {width: 25%; display: flex; justify-content: center; align-items: center; padding:30px 15px; margin:-1px -1px 0 0;}
#main .section08 .partner_list li:nth-child(5n + 1){border-left:none;}
#main .section08 .partner_list li:nth-child(5n){border-right:none;}
#main .section08 .partner_list li:nth-child(4n){clear:both;}
#main .section08 .partner_list li img {max-width: 70%;}

#main .section09 {background:#000; padding: 150px 0;}
#main .section09 .con {max-width: 770px; margin:0 auto}
#main .section09 .con > .title_txt, #main .section09 .con > .cont_p {text-align: center;}
#main .section09 .link_list {max-width: 400px; display: flex; justify-content: space-between; align-items: center; margin:30px auto 70px;}
#main .section09 .link_list img {max-width: 100%;}
#main .section09 .faq_list {color:#fff; list-style: none; padding:0; margin:0;}
#main .section09 .faq_list > li {margin-bottom:30px; padding-bottom:30px; border-bottom:1px solid rgba(255,255,255,0.2)}
#main .section09 .faq_list > li > dl > dt {display: flex; align-items: center; font-size: 1.875em; font-weight: 600;}
#main .section09 .faq_list > li > dl > dt .num {display: inline-block; width: 50px; height: 50px; line-height: 50px; border-radius: 100%; font-size: 0.76em; text-align: center; background:#592dd8; margin-right:15px;}
#main .section09 .faq_list > li > dl > dd {margin:15px 0 0 65px; color:rgba(255,255,255,0.5)}
#main .section09 .faq_list > li:last-child > dl > dd:not(:first-of-type) {margin-top:3px;}
#main .section09 .faq_list > li > dl dd ul li:not(:first-child) {margin-top:30px;}
#main .section09 .faq_list > li > dl dd ul dl {line-height: 1.33;}
#main .section09 .faq_list > li > dl dd ul dl dt {font-weight: 600;}
.cont_p .link_btn {font-size:14px; margin:20px 5px 20px 0px;}

#footer {background:url("/img/f_bg.png") no-repeat center center #000; background-size:cover; padding:150px 0 270px}
#footer .con {max-width: 1160px; display: flex; flex-wrap: wrap; justify-content: space-between; margin-left:10%;}
#footer .con div {color:#fff; line-height: 1.67; font-size: 1.125em;}
#footer .flogo {width: 100%; display: flex; align-items: center; color:#fff; margin-bottom:40px;}
#footer .info_cont a:hover {text-decoration: underline;}
#footer .sns_link a {display: flex; align-items: center;}
#footer .sns_link a:hover {text-decoration: underline;}
#footer .sns_link .img_wrap {width: 20px; display: flex; justify-content: center; align-items: center; margin-right:8px;}
#footer .sns_link .img_wrap img {mix-blend-mode: lighten;}

.top_btn {position:fixed; bottom:2%; right:2%; z-index: 999;}
.br_pc {display:block;}
.br_m {display:none;}

@media all and (max-width:1485px){
    #header .gnb > li {padding: 0 14px;}
}

@media all and (max-width:1280px){
    body {font-size: 14px;}

    .con {max-width: 90%; margin:0 auto;}

    #header {padding:30px 0;}
    #header .m_btn {display: flex;}
    #header .con {max-width: 90%;}
    #header .con div,
    #header .con .gnb {display: none;}

    #main .section01 .txt_box span b img {top:-230%; left:-175%;}

    #main .story .story_box.bayc_story .con {max-width: 90%; margin:0 auto;}

    #main .story .story_box.story02 .con {max-width: 90%;}

    #main .story .story_box {padding:120px 0;}
    #main .story .story_box.parall .img_box {width: 100%; max-width: 800px; position:unset; transform:unset; margin:0 auto 30px;}
    #main .story .story_box.parall .img_box img {max-width: calc(50% - 7.5px); padding:0; margin-top:0 !important; position: unset; transform:none;}
    #main .story .story_box.parall .img_box img:first-child {margin-right:15px;}
    
    #main .story .story_box.bayc .con {max-width: 90%; margin:0 auto;}

    .mystery .con {max-width: 90%;}
    .mystery .img_box {width: 100%; max-width: 800px; position:unset; transform:unset; margin:0 auto 30px;}
    .mystery .img_box img {max-width: calc(50% - 7.5px); padding:0; margin-top:0 !important; position: unset; transform:none;}
    .mystery .img_box img:first-child {margin-right:15px;}

    #main .section03 .con {max-width: 100%;}

    #main .section04 .con {max-width: 90%;}

    #main .section05 {padding:120px 0;}
    #main .section05 .con {max-width: 90%; display: flex; flex-direction: column-reverse;}
    #main .section05 .con .img_box {max-width: 800px; position:unset; transform:unset; margin:0 auto 30px;}
    #main .section05 .con .img_box img {max-width: calc(50% - 7.5px); padding:0 15px; margin-top:0 !important}

    #main .section06 .con {max-width: 90%; margin:0 auto;}
    #main .section06 .section06_slide {padding-right:0;}
    #main .section06 .section06_slide > ul > li {flex-direction: column;}
    #main .section06 .year {margin-right:0; margin-bottom:30px;}

    #main .section07 .con {max-width: 90%;}

    #footer .con {max-width: 90%; margin:0 auto;}
}

@media all and (max-width:1024px){
    body {font-size: 13px;}

    #main .section01 {padding-top:120px}
    #main .section01 .txt_box {width: 100%; text-align: center;}
    #main .section01 .txt_box span b img {top:-250%; left:-195%;}

    #main .section02 .con {height: 35em;}
    
    #main .story .story_box:first-child .con .img_box {width: 100%;}
    #main .story .story_box:first-child .con .txt_box {width: 100%; text-align: center;}

    #main .story .story_box.bayc .con .img_box,
    #main .story .story_box.bayc .con .txt_box {width: 100%; text-align: center;}
    #main .story .story_box .title_box {margin-bottom: 30px; justify-content: center;}
    #main .story .story_box.bayc .con .img_box {margin-bottom:30px;}
    
    #main .section04 .txt_box {width: 100%;}

    #main .section06 {padding:120px 0;}
    #main .section06 .pagination {margin-left: 0;}
    #main .section06 .pagination .swiper-pagination-bullet:not(:last-child) {margin-right: 10%;}

    #main .section08 {padding:120px 0;}

    #main .section09 {padding: 120px 0;}
    #main .section09 .con {max-width: 90%;}

    #footer {padding:100px 0;}
    #footer .flogo {justify-content: center;}
    #footer .con div {width: 100%; text-align: center;}
    #footer .con .info_cont {display: flex; flex-wrap: wrap; justify-content: center; margin-top:15px;}
    #footer .con .info_cont a {margin:0 15px;}
    #footer .con > div:nth-child(2) {margin-bottom: 30px;}
    #footer .con > div:last-child {margin-top:30px;}
    #footer .con .sns_link {display: flex; flex-wrap: wrap; justify-content: space-between; margin-top:15px;}
}

@media all and (max-width:780px){
	
	.br_pc {display: none;}
	.br_m {display: block;}
    body {font-size: 10px;}

    #main .section01 .txt_box span b img {top: -350%; left: -275%;}

    #main .section02 {padding:0;}
    
    #main .story .story_box {padding:70px 0;}
    #main .story .story_box.story02 .story02_slide .txt_box {padding:30px;}
    #main .story .story_box.story02 .story02_slide .txt_box p {line-height: 1.34;}

    #main .story .story_box.parall {padding:70px 0;}
   
    #main .story .story_box.parall .img_box img {padding:0;}
    #main .story .story_box.parall .txt_box a {margin-top:50px;}
    
    #main .story .story_box.story02 .desc_box {padding:30px}

    .mystery {padding:70px 0;}

    #main .section04 {padding:70px 0;}

    #main .section05 {padding:70px 0;}
    #main .section05 .con .img_box img {padding:0 5px;}
    #main .section05 .con .txt_box a {margin-top:50px;}
    
    #main .section06 {padding:70px 0;}
    #main .section06 .con {margin:0 auto;}
    #main .section06 .road_map_list li span {width: 100%; text-align: left; margin-bottom:5px;}
    #main .section06 .road_map_list li h5 {width: 100%;}
    #main .section06 .road_map_list li p {width: 100%;}
    #main .section06 .road_map_list li .cover_roadmap {left: 0;}

    #main .section07 .member_list {margin-top:70px;}
    #main .section07 .member_list li {width: 45%; margin-bottom:20px;}
    #main .section07 .member_list li .img_box {margin-bottom:15px;}
    #main .section07 .member_list li a {width: 28%; right:0;}

    #main .section08 {padding:70px 0;}
    #main .section08 .partner_list {justify-content: flex-start;}
    #main .section08 .partner_list li {width: 50%;}
    #main .section08 .partner_list li:nth-child(5n + 1) {border-left:1px solid #161f26;}
    #main .section08 .partner_list li:nth-child(3n + 1),
    #main .section08 .partner_list li:nth-child(3n) {border-left:none; border-right:none}
    #main .section08 .partner_list li img {max-width: 100%;}
    
    #main .section09 {padding:70px 0;}
    #main .section09 .link_list {max-width: 80%;}
    #main .section09 .link_list li {text-align: center;}
    #main .section09 .link_list img {max-width: 75%;}
    #main .section09 .faq_list > li > dl > dt {flex-direction: column; text-align: center;}
    #main .section09 .faq_list > li > dl > dt .num {margin:0 auto 15px;}
    #main .section09 .faq_list > li > dl > dd {margin-left: 0; text-align: center;}
    #footer .con .sns_link li {width: 48%; margin:5px 0;}
    #footer .sns_link a {justify-content: center;}
	
	
}